*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

body{
    padding: 110px 250px;
    background-color: #e8e8e8;
    font-size: 16px;
}
h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

ul li{
    padding: 5px 0px;
    /* background-image: url('../img/icons/li.svg');
    background-repeat: no-repeat; */
}
ul li::before{
    content:  '✓';    
    padding: 5px;
}
.firstul{
    margin-bottom: 40px;
}

.firstul li:nth-child(1){
    text-decoration: line-through;
}
.firstul li:nth-child(2){
    font-weight: 700;
}
.firstul li:nth-child(3){
    font-style: italic;
}
.firstul li:nth-child(4){
    text-transform: uppercase;
}
.secondul li:hover{
    color: orangered;
}
button{
    height: 40px;
    width: 150px;
    margin: 90px 10px;
    text-transform: uppercase;
    color: white;
    background-color: #80b7b3;
    border-radius: 30px;
    margin-left: 20px;
    letter-spacing: 1px;
}
button:hover{
    background-color: rgb(3, 66, 3);
}
button:active{
    background-color: grey;
}
.textinput {
    display: block;
    height: 40px;
    width: 200px;
}
.textinput:focus{
    box-shadow: 1px 1px 5px #6b9aff;
}