@import "./nullstyle.scss";

$fz:50px;
$color_1:green;
$color_2:purple;
$color_3:orange;

%tplborder{
    border-bottom: 2px dashed red;
}

@mixin fontsize($f, $c){
    font-size: $f;
    color: $c;
}

.block{
    width: 300px / 960px *100%;
    background-color: rgb(161, 161, 161);
    padding: 30px;
    font-size: 24px;   
   .block__text{
       font-size: $fz;
        span{
            color: green;
        }
   }    
}
.link{
    color: $color_2;
    text-decoration: underline;

    font-size: 20px;
    @extend %tplborder;
    &:hover{
        color: $color_1;
    }
    .block &{
        font-size: $fz;
        color: $color_3;
    }
}
.link-1{
    @include fontsize(100px, red);
    @extend %tplborder;

}
 
